.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-items: center;
  margin: auto;
  width: 100%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.card h5 {
  font-size: 20px;
}

.card p {
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.399);
  white-space: pre-line;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card button {
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.card .btn {
  background-color: #ffffff;
  color: #007bff;
  border: 2px solid #007bff;
  width: 50%;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10%;
  max-width: 150px;
}

.card .btn:hover {
  background-color: #007bff;
  color: white;
}

.fix-btn.new {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

.fix-btn.new:hover {
  background-color: #218838;
}

.fix-btn.improvement {
  background-color: #da07ff;
  color: rgb(255, 255, 255);
  border-color: #da07ff;
  max-width: 150px;
}

.fix-btn.improvement:hover {
  background-color: #da07ff9a;
}

.fix-btn.fix {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border-color: #007bff;
  max-width: 150px;
}

.fix-btn.fix:hover {
  background-color: #007bffb4;
}

.card-description {
  flex-grow: 1;
  margin-right: 5px;
}

@media (min-width: 1129px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1128px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 780px) {
  .cards-container {
    grid-template-columns: 1fr;
    width: 90%;
    justify-items: center;
    margin: auto;
  }

  .card-header {
    flex-direction: column;
    gap: 10px;
  }

  .card .btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 15px;
  }

  .card h5 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

  .card button {
    padding: 8px 20px;
  }

  .card .btn {
    padding: 8px;
  }
}

@media (min-width: 781px) and (max-width: 845px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-left: auto;
  }

  .card {
    padding: 10px;
  }
}

@media (min-width: 1029px) and (max-width: 1260px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
